<div style="text-align:center">
  <fa-icon [icon]="faCoffee"></fa-icon>
</div>
tesst
<div style="text-align:center">
  <!-- simple name only that assumes the 'fas' prefix -->
  <fa-icon icon="coffee"></fa-icon>
  <!-- ['fas', 'coffee'] is an array that indicates the [prefix, iconName] -->
  <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
</div>
test
<div style="text-align:center">
  <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
  <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
</div>
test
<router-outlet></router-outlet>
